<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800&family=Open+Sans&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">  
  </head>
<div class="font">
<nz-layout>
  <nz-header>
    <div class="">
      <div class="flex">
        <div class="flex xs:space-x-8">
        <div class="xs:absolute xs:left-0 xs:top-0 xs:py-4 sm:p-2 md:p-2 lg:p-4 px-1 mr-10 xs:h-6 xs:w-20 sm:h-5 sm:w-24 md:h-5 md:w-24 lg:h-6 lg:w-36">
          <a routerLink="/shared/landingpage"><img src="/assets/images/logo.png"></a>
        </div>
        
        <div class="flex xs:space-x-1 sm:space-x-24 md:space-x-36 lg:space-x-96">
          <div class="xs:w-28 sm:w-36 md:w-40 lg:w-96 ">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="Type your search here" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
          </div>
    
        <div class="flex flex-row xs:space-x-1 sm:space-x-2 md:space-x-2 lg:space-x-3 sm:mx-2">
          <div class="py-4">
            <button routerLink="/core/cart" class="flex flex-auto rounded-md bg-white text-green-600 text-center text-sm xs:text-xs xs:h-8 xs:w-18 sm:h-10 md:h-10 lg:w-full lg:h-10">
              <div class="xs:p-1 sm:p-1 md:p-1 lg:p-1 lg:whitespace-nowrap lg:py-2">
                KSh. {{grandTotal}}.0
              </div>
                <div class="icon-button">
                  <span class="material-symbols-outlined text-green-600 text-[16px]">shopping_cart</span>
                  <span class="button__badge">{{totalItem}}</span>
                </div>
              </button>
          </div>

          <div class="flex py-4">
            <button type="button" class="icon-button">
              <span class="material-symbols-outlined text-gray-200"> chat</span>
              <span class="icon-button__badge">1</span>
            </button>
          </div>

          <div class="flex py-4">
            <button type="button" class="icon-button">
              <span class="material-icons text-gray-200">notifications</span>
              <span class="icon-button__badge">1</span>
            </button>
          </div>

          <button routerLink="/shared/prof">
            <img src="/assets/images/profile_photo.png" class="xs:h-8 xs:w-14 sm:h-8 sm:w-12 md:h-10 md:w-10 lg:h-10 lg:w-14 object-cover rounded-full">
          </button>

          <div class="flex">
          <button routerLink="/core/ads" class="rounded-sm bg-red-500 text-white text-xs font-light text-center xs:h-8 xs:w-10 sm:h-8 sm:w-12 md:h-8 md:w-12 lg:h-8 lg:w-16 mt-4">SELL</button>
        </div>
      </div>
        
        </div>
      </div>
      </div>
    </div>
  </nz-header>

  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a><i nz-icon style="font-size: 20px; color: green;" nzType="home" nzTheme="fill" class="" routerLink="/shared/landingpage"></i></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><a>.shopping cart</a></nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="inner-content">
      <div class="flex">
        <div class="flex-row">
          <div class="">
            <div class="xs:w-[220px] sm:w-[300px] md:w-[400px] lg:w-[800px] bg-white h-auto">

              <div class="p-2 text-xl text-black"> 1. Address Details</div>

              <div class="px-2 ">
                <div class="border-t-2 border-gray-150 w-100%"></div>
              </div>

      
           <!-- <div *ngIf="items.length !=0">
            <div *ngFor="let item of items">
              <div class="flex flex-auto w-full">
                <div class="flex flex-auto space-x-3">
                  <div><img src={{item.imageURL}} class=" h-31 w-48 rounded-md p-2"></div>
                  <div class="py-2">
                    <div class="text-xs">{{item.name}}</div>
                    <div class="py-1 text-xs">{{item.category}}</div>
                    <div class="text-xs py-1">seller-name</div>
                    <button (click)="removeItem(item)" class="text.xs py-3">REMOVE</button>

                  </div>
                </div>

                <div class="flex flex-col text-sm text-right space-y-10">
                  <div class="flex flex-row-reverse mr-2 py-4 text-xs">  KSh.{{item.total}}</div>
                  <div>
                    <div class="flex flex-row mr-2 space-x-5">
                      <button type="button"(click)="minus(item)"><i nz-icon nzType="minus" nzTheme="outline"
                          style="display: flex; justify-content: center; align-items: center; width: 23px; height: 23px;font-size: 16px; font-weight: 900; color:darkgreen; background-color: lightgrey;"></i></button>
                      <div class="text-2xl font-medium">{{item.quantity}}</div>
                      <button type="button"(click)="plus(item)"><i nz-icon nzType="plus" nzTheme="outline"
                          style="display: flex; justify-content: center; align-items: center; width: 23px; height: 23px;font-size: 16px; color: darkgreen; background-color: lightgrey;"></i></button>
                    </div>
                  </div>

                </div>
              </div>

              <div class="px-2 py-1">
                <div class="border-t-2 border-gray-150 w-100%"></div>
              </div>
            </div>
          </div> -->

          <div>
              <div class="py-4 px-3 text-md text-black">
                  <div>Mary Moraa</div>
                  <div class="py-1">Mihango/Njiru/Chokaa/Ruai/Kamulu, Nairobi</div>
                  <div class="">+254700927728 | mary.moraa@gmail.com</div>

              </div>
          </div>
        </div>  

            <div class="xs:w-[220px] sm:w-[300px] md:w-[400px] lg:w-[800px] bg-white my-6 min-h-[370px]">
              <div class="p-2 text-xl text-black"> 2. Delivery Method </div>

              <div class="px-2 ">
                <div class="border-t-2 border-gray-150 w-100%"></div>
              </div>

                    <div>
                      <div class="py-4 px-3 text-md text-black">
                          <div>How do you want your order delivered?</div>
                          <div class="flex sm:space-x-6 md:space-x-18 lg:space-x-36 py-2 text-green-600">
                            <div>
                            <input type="radio" id="pickup" name="checkout" value="pickup"checked class="radio">
                              <label for="pickup" class="px-2">Pickup Station</label>
                            </div>
                            <div>
                                <input type="radio" id="delivery" name="checkout" value="delivery">
                                <label for="delivery" class="px-2">Delivery to your home or office</label>
                            </div>
                          </div>

                          <!-- <nz-radio-group [(ngModel)]="radioValue" style="color:green">
                            <div class="flex space-x-36 ">
                            <label nz-radio nzValue="A">A</label>
                            <label nz-radio nzValue="B">B</label>
                          </div>
                          </nz-radio-group> -->

                          <div class="flex xs:space-x-1 lg:space-x-4">
                              <div class="xs:px-2 sm:px-3 md:px-3 lg:px-4">Available to pick up from Thursday 28 Jul</div>
                              <div>Delivered by Thursday 28 Jul for KSh 225</div>
                          </div>
        
                      </div>

                      <div>
                        <div class="px-3 mb-4">
                         <table class="w-full mb-12">
                           <tr class="border-[1px] border-solid">
                             <td class="p-2">Shipment Details</td>
                           </tr>
                          <tr class="border-[1px] border-solid ">
                            <td>
                            <br><br><br><br><br>
                            <br><br><br>
                            </td>
                          </tr>
                         </table>
                        </div>
                      </div>
                  </div>

<!--               
              <ul class=" text-xs flex justify-center items-center flex-wrap list-none p-0">
                <li *ngFor="let product of productList | filter: searchKey:'name'">
                  <a
                    class="bg-white p-1 h-48 w-48  border-2 border-solid border-whitesmoke rounded-none flex flex-col overflow-hidden hover: opacity-90">
                    <a href="/core/pdetails"><img src="{{product.imageURL}}" alt=""></a>
                    <div class="text-xs">
                      <div class="text-gray-400">
                        {{product.category}}
                      </div>
                      <span class="text-black">{{product.name}}</span>
                      <div class="text-gray-400"> KSh.
                        {{product.price}}
                      </div>
                      <div class=" p-1 text-right text-red-600 text-xs">
                        <button (click)="addtoCart(product, item)" class="p-1 outline-offset-0 rounded-md border-2 border-red-700"> ADD TO CART</button>
                      </div>
                    </div>
                  </a>
                </li>
              </ul> -->
            </div>

          </div>
        </div>

        <div class="flex-1 xs:mx-2 sm:mx-2 md:mx-4 lg:mx-6">
          <div class=" xs:w-36 sm:w-48 md:w-58 lg:w-56 h-auto bg-white">
            <div class="text-xl p-2 text-green-500">Cart Summary</div>
            <div class=" px-2">
              <div class="border-t-2 border-gray-150 w-100%"></div>
            </div>
            <div class="flex flex-auto w-full py-2">
              <div class="p-2 flex flex-auto text-sm">Subtotal</div>
              <div class=" flex flex-row text-lg font-semibold text-right p-1 mr-2">KSh. {{grandTotal}}</div>
            </div>

            <div class=" px-2">
              <div class="border-t-2 border-gray-150 w-100%"></div>
            </div>
            <div class="p-2 text-[9px]"> DELIVERY FEES NOT INCLUDED YET. </div>

            <div class="px-2">
              <button routerLink="/core/checkout"
                class="w-[96%] h-8 mb-2 rounded-md outline-offset-0 border-2 text-sm text-green-600 border-green-500">
                Checkout (Ksh. {{grandTotal}})</button>
            </div>
          </div>



        </div>

      </div>

    </div>
  </nz-content>
  <nz-footer></nz-footer>
</nz-layout>
</div>